/*  your css code here. If applicable */
.container{
	display:flex;
	height:200px;
	width:500px;
}
img{
	margin-right:10px;
	width:280px;
	height:100%
}

p,h2{
	text-align:center;
}
button{
	position:relative;
	left:70px;
	background-color:red;
	color:white;
	border-radius:5px;
	border:none;
	outline:none;
	padding:10px;
	
}
